<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>eShop</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <p>  </p>
      </div>
    </div>
  </footer>
