
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>

        <td>
          <% if product.image.attached? %>
          <%= image_tag product.image, style: "width:400px; disply:block" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
