@import "font-awesome";
body {
    background-color: rgba(152, 224, 200, 0.315);
}

#main {
    margin-top: 9%;
}

@media (max-width: 920px) {
    #main {
        margin-top: 20%;
    }
}

@media (max-width: 450px) {
    #main {
        margin-top: 35%;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(4, 22, 20, 0.842);
    color: white;
    text-align: center;
}