<h1>All Categories</h1>
<h4>Category Name </h4>
  <% @categories.each do |category| %>
    <p> <%=  category.name %></p>
    <% if category.image.attached? %>
    <%= image_tag category.image, style: "width:200px; display:block" %>
  <% end %>

<% end %>

