
<div class="row  mt-5 ">
  <div class = ".container-fluid ">
    <h1>All Categories</h1>
      <ul class="list-inline ">
        <% @categories.each do |category| %>
        <li class="list-inline-item col-lg-3 col-md-4 col-sm-6 " >
            <% if category.image.attached? %>
              <%= image_tag category.image,  class:"img-fluid " %>
            <% end %>
            <div> <%=  category.name %> </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>

