<div class="row  mt-5 ">
  <div class = ".container-fluid ">
      <ul class="list-inline ">
        <% @products.each do |product| %>
        <li class="list-inline-item col-lg-2 col-md-3 col-sm-4 " >
          <% if product.image.attached? %>
          <br>
            <%= image_tag product.image, class:"img-fluid" %>

            <div class="my-1">
              <span> <%= product.name %> // <%= number_to_currency(product.price) %> </span>
              <br>
              <%= button_to "Add to Cart", order_items_path(:product_id => product.id), method: :post %>
            </div>
          <%end %>
        </li>
      <% end %>
    </ul>
  </div>
<i class="fa fa-camera-retro"></i>
</div>

