<h1> Products </h1>

<% @products.each do |product| %>
<div class="row">
<div class="col-md-4", style= " display:flex; flex-wrap: wrap">
  <% if product.image.attached? %>
    <%= image_tag product.image, style: "width:200px; disply:block" %>
    <br>
    <%= button_to "Add #{product.name} to order", order_items_path(:product_id => product.id), method: :post %>
  <%end %>
<% end %>

</div>
